{{#image}}<img src="{{image}}" class="thumbnail"/>{{/image}}

{{#data_2}}
	<span class="label2">GLO!!! {{data_2}}</span>
{{/data_2}}
{{^data_2}}
{{/data_2}}

<h3><a href='{{link}}' target="_blank">{{title}}</a></h3>

{{#data_1}}
  <span class="label1">{{data_1}}</span>
{{/data_1}}

<p>{{description}}</p>